#logo_img {
  transition: transform 0.7s ease-in-out;
}
#logo_img:hover {
  transform: scale(1.5) rotate(360deg);
}
.pic {
  display: block;
  float: left
}
.row {
  display:flex;
}
.column {
  flex: 33.33%;
  padding: 5px;
}
.hr_style {
  margin-top: -5px; 
  width: 70px; 
  border-style: dotted none none;
  border-width: 5px;
}